# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Player names

Test if player names are displayed 

### Test Data Used

running the code to see if player names are displayed 

### Test Result

![Animation.gif](screenshots/Animation.gif)

It worked better than expected 

---

## Check swap

Test for coin swaps

### Test Data Used

Testing to see if player input actually makes a difference 

### Test Result

![Anim.gif](screenshots/Anim.gif)

The selected coins as expected swapped places with selected destinations

---

